.box{
    background-color: rgb(222, 222, 116);
    width: 100px;
    height: 500px;
}

.container{
    margin-top: 50px;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: space-around;
}


.one{
    grid-row: 1/20;    
    width: 85%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  
  .two{
      grid-row: 1/30;
      width: 90%;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .test{
    /* background-color: rgb(194, 168, 168); */
    height:600px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

  .box{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
    /* background-color: bisque; */
    background-color: rgba(239, 237, 237, 0.416);
    height: 128px;
    max-height: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 90px;
    margin-bottom: 20px;
  
    text-align: center;

}

.btn{
    width: 60%;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.1);
}