.pageContainer{
    padding-left: 20px; 
}
  

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Container2{
    background-color: #0f2ad938;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; 
    max-width: 600px; 
  }

.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; 
    width: 100%;
    
}

.column{
    flex: 1 0 20%; 
    margin-right: 2%
}

.textbox{
    width: 100%;
}

.textbox1{
    width: 100%; 
    margin-top: 10px; 
}

.textbox2{
    border: 1px;
    border-radius: 5px;
    position: relative;
    bottom: 50px;
    text-align:center;

}

.textbox3{
    border: 5px solid #0f2ad9c4;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    text-align:center;

}


.title{
    padding: 20px;
}


.paddingButton{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


.centeredButton{
    padding: 0 20px;
    justify-content: center;
    margin-top: 40px;
    
}

.color1{
    background-color: rgb(11, 90, 180);
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 20px;  

}
